.card {
    background: #fff;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: 'TT Norms Pro', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.card .avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}

.card .title {
    color: #3A4E57;
    font-size: 20px;
    font-weight: 700;
}

.card .date {
    color: #808080;
    font-size: 14px;
}

.card .username {
    color: #3A4E57;

}